@charset "UTF-8";

.main-menu {
    background: {
        color: rgba($bgColorDark, 1);
    }
    @include breakpoint(large) {
        background: {
            color: rgba($bgColorDark, 0.5);
        }
    }
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    ul {
        display: inline-flex;
        list-style: none;
        padding: {
            top: rem-calc(25);
            right: rem-calc(25);
            bottom: rem-calc(25);
            left: rem-calc(25);
        }
        margin: 0;
        @include breakpoint(large) {
            margin: {
                top: 0;
                left: auto;
                bottom: 0;
                right: 0;
            }
        }
        li {
            font: {
                size: $fontSizeLarge;
            }
            margin: {
                right: 15px;
            }
            &:last-child {
                margin: {
                    right: 0;
                }
            }
        }
    }
}